@import "../styles/variables";

.content {
  .proPic {
    width: 80%;
    margin: 0 auto 20px auto;

    .rounded {
      border-radius: 6px;
    }
  }

  .description {
    width: 80%;
    margin: auto;

    .descriptionTitle {
      font-weight: $font-weight-bold;
      font-size: 25px;
      margin-bottom: 10px;
    }

    p {
      font-weight: $font-weight-light;
      text-align: justify;
      margin-bottom: 10px;
    }

    a {
      font-family: $font-secondary;
      background: $color-primary;
      color: $on-color-primary;
      border: 2px solid $color-primary;
      margin-top: 10px;
      padding: 10px 15px;
      border-radius: 6px;
      font-weight: $font-weight-normal;
      font-size: $font-size-base;
      display: block;
      transition: all 0.3s ease;
      float: right;

      &:hover {
        background: $on-color-primary;
        color: $color-primary;
      }
    }
  }
}
