@import "../styles/variables";
@import "../styles/mixins";

.contactSection {
  padding-bottom: 200px;
}

.content {
  width: 90%;
  margin: 0 auto;

  @include respond-to("sm") {
    width: 100%;
  }

  @include respond-to("lg") {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .addressContainer {
    margin: 5em auto auto auto;

    @include respond-to("lg") {
      width: 40%;
      margin: 0 auto auto auto;
    }

    .infoContainer {
      display: flex;
      align-items: center;
      padding: 10px 0;

      & .infoText {
        margin-left: 10px;
        font-style: normal;
      }
    }

    .socialContainer {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: $h3-font-size;
      color: $color-primary;
      margin-top: 2em;

      a {
        padding: 0 10px;
      }
    }
  }

  .formContainer {
    width: 100%;
    margin: auto;

    @include respond-to("lg") {
      width: 50%;
    }
  }
}

.icon {
  color: $color-primary;
  font-size: 1.7rem;
}

.submitBtn {
  margin-top: 10px;
}

.areaLabel {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  margin-bottom: 20px;
}
