@import "../styles/variables";
@import "../styles/mixins";

.contactSection {
  padding-bottom: 200px;
}

.content {
  width: 90%;
  margin: 0 auto;

  @include respond-to("sm") {
    width: 100%;
  }

  @include respond-to("lg") {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .addressContainer {
    margin: 5em auto auto auto;

    @include respond-to("lg") {
      margin: 0 auto;
    }

    .infoContainer {
      display: flex;
      align-items: center;
      padding: 10px 0;
      font-size: $font-size-base;

      .icon {
        color: $color-primary;
        display: block;

        @media (max-width: 323px) {
          display: none;
        }
      }

      .infoText {
        margin-left: 10px;
        text-decoration: none;
        @media (max-width: 323px) {
          margin: 0;
        }
      }
    }

    .socialContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;
      font-size: $font-size-lg;
      color: $color-primary;
      margin-top: 2em;
      transition: all 0.3s ease;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 2px;
        border: 2px solid $color-primary;
        border-radius: 6px;
        background: $color-primary;
        color: $on-color-primary;
        transition: all 0.3s ease;

        &:hover {
          background: $on-color-primary;
          color: $color-primary;
        }
      }
    }
  }

  .formContainer {
    width: 100%;
    margin: auto;

    @include respond-to("lg") {
      width: 50%;
    }
  }
}

.submitBtn {
  margin-top: 10px;
}

.areaLabel {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
  margin-bottom: 20px;
}
