@import "../styles/variables";
@import "../styles/mixins";

.cover {
  background: url("/images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: $font-secondary;

  .coverContent {
    // as cover will have dark image background
    color: $on-color-dark;
    text-align: center;
    margin-top: 27vh;
    padding: 0 2vw;

    .text1 {
      font-size: $h4-font-size;

      @include respond-to("xxl") {
        font-size: $h3-font-size;
      }
    }

    .text2 {
      font-size: $font-size-xl;
      font-weight: $font-weight-bolder;
      margin: 10px 0;

      @include respond-to("xxl") {
        font-size: $font-size-xxl;
      }
    }

    .text3 {
      font-size: $h4-font-size;

      @include respond-to("xxl") {
        font-size: $h3-font-size;
      }

      & span {
        color: $color-primary;
      }
    }
  }
}
