@import "../styles/variables";

.content {
  width: 90vw;
  margin: auto;
}

.date {
  color: $on-color-dark-secondary;
}

.contentContainer {
  display: grid;
  grid-template-columns: 100px auto;
}

.logoContainer {
  margin-right: 15px;
  padding-top: 2px;
}
