@import "../styles/variables";
@import "../styles/mixins";

.content {
  width: 100%;
  margin: auto;

  .verticalTimeline {
    max-width: 100%;
    width: 100%;

    @include respond-to("lg") {
      width: 95%;
    }
  }
}

.date {
  color: $on-color-light;
}

.contentContainer {
  display: flex;
  flex-direction: column;

  .headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .logoContainer {
      min-width: 100px;
      max-width: 120px;
      margin-right: 20px;
      margin-bottom: 10px;
    }

    .titleContainer {
      .elementTitle {
        font-size: $h5-font-size;
      }
      .elementSubtitle {
        font-size: $h6-font-size;
        display: block;
        color: $on-color-light-secondary;
      }
    }
  }

  .elementBody {
    font-size: $font-size-base;
    p {
      font-size: inherit;
    }
    ul {
      font-size: inherit;
      margin-left: 20px;
    }
  }

  .tagContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }
}
