@import "../styles/variables";
@import "../styles/mixins";

.content {
  width: 100%;
  margin: auto;

  .verticalTimeline {
    max-width: 100%;
    width: 100%;

    @include respond-to("lg") {
      width: 95%;
    }
  }
}

.date {
  color: $on-color-light;
}

.contentContainer {
  display: grid;
  grid-template-columns: 100px auto;
}

.logoContainer {
  margin-right: 15px;
  padding-top: 2px;
}
