.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  color: white;
  max-height: 100px;
  padding: 15px 0;

  & a {
    color: crimson;
    display: inline-block;
    margin: auto 0.25rem;
    transition: color 0.3s ease;

    &:hover {
      color: rgb(240, 210, 146);
    }
  }
}
