@import "../styles/variables";

.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;

  & a {
    color: $color-primary;
    display: inline-block;
    margin: auto 0.25rem;
    transition: color 0.3s ease;

    &:hover {
      color: $color-highlight;
    }
  }
}
