@import "../styles/variables";
@import "../styles/mixins";

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;

  @include respond-to("sm") {
    width: 90%;
  }

  @include respond-to("md") {
    justify-content: space-between;
  }

  .cardImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    opacity: 80%;
  }

  .cardBody {
    padding: 10px;

    > .cardTitle {
      color: $color-primary;
      font-size: $h5-font-size;
    }

    > .cardDescription {
      color: $on-color-dark;
      font-size: $font-size-base;
      text-align: justify;
    }

    > .cardTagContainer {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;

      > .tag {
        border: 1px solid $on-color-dark-secondary;
        background-color: $on-color-dark-secondary;
        color: $color-dark;
        font-size: $font-size-sm;
        border-radius: 12px;
        padding: 0 5px;
        margin-right: 10px;
        white-space: nowrap;
      }
    }

    > .cardButtonContainer {
      display: flex;
      margin-bottom: 5px;

      > .cardButton {
        font-size: $font-size-sm;
        padding: 5px;
        margin-right: 10px;
      }
    }
  }
}
