.button {
  font-family: "Poppins", sans-serif;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 15px;

  &:hover {
    background: #fff;
    color: crimson;
  }
}
