@import "../../styles/variables";

.button {
  font-family: $font-secondary;
  border: 2px solid $color-primary;
  background: $color-primary;
  color: $on-color-primary;
  outline: none;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px 15px;

  &:hover {
    background: $on-color-primary;
    color: $color-primary;
  }
}
