@import "../../styles/variables";

.input {
  width: 100%;
  padding: 10px 0;
}

.label {
  font-weight: bold;
  display: block;
}

.inputElement {
  outline: none;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-family: $font-secondary;
  font-size: $font-size-md;
  line-height: $line-height-base;
  padding: 0.5em 1em;
  display: block;
  width: 100%;
}
