@import "@/styles/variables";
@import "@/styles/typed";

.typed {
  color: $color-primary-light;
  @include typed(
    "Software Engineer",
    "Web Developer",
    "Fullstack Developer",
    null,
    (
      caret-width: 2px,
      caret-space: 2px,
    )
  );
}
