// colors

$color-primary: crimson;
$on-color-primary: #fff;

$color-dark: #111;
$on-color-dark: #fff;
$on-color-dark-secondary: darkgray;

$color-light: #fff;
$on-color-light: #111;

$color-highlight: #f0d292;

// fonts

$font-primary: "Poppins", sans-serif;
$font-secondary: "Ubuntu", sans-serif;
