@import "@/styles/variables";
@import "@/styles/mixins";

.content {
  width: 100%;
  margin: auto;

  .verticalTimeline {
    max-width: 100%;
    width: 100%;

    @include respond-to("lg") {
      width: 95%;
    }
  }
}
